
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f8;
    margin: 0;
    padding: 0;
}


h3 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    font-size: 28px;
}


form {
    background-color: #ffffff;
    width: 400px;
    margin: 40px auto;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form p, form label, form br {
    font-size: 15px;
    color: #333;
}


input[type="checkbox"], 
input[type="radio"] {
    margin-right: 8px;
}


input[type="submit"],
input[type="reset"] {
    background: #007bff;
    color: #fff;
    border: 0;
    padding: 8px 15px;
    margin: 8px 5px 0 0;
    border-radius: 4px;
    cursor: pointer;
}


input[type="reset"] {
    background-color: #6c757d;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="reset"]:hover {
    background-color: #555;
}
